{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>{% block title %}TO-DO{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" data-dismiss="alert" class="close">x</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock  %}
